@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,600,700");

body {
  background-color: #1C1D20;
  font-family: 'Raleway', sans-serif;
  color: #B8CDF8;
}
header{
  font-size: 19px;
  margin: 25px 0;
  justify-content: center;
  top: 0;
  border: 2.5px solid white;
  width: 500px;
  margin: auto;
}

#social-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#profile {
  border-radius: 50%;
  width: 15%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5%;
  border: 2px solid white;
  
}

#banner {
  background-image: url("https://images.unsplash.com/photo-1547142632-bca340742184?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  height: 300px;
  width: 100%;
 
}

header,h3.header{
  text-align: center;
  color: white;
}

nav {
  font-size: 19px;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  top: 0;
}

nav > a {
  padding: 10px 20px;
  margin-right: 20px;
  transition: all 0.15s ease-in;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0);
  border-color: rgba(255, 0, 0, 0);
}

nav > a:hover {
  border-bottom: 2.5px solid black;
  border-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
}

.navigate {
  background-color: #1CFEBA;
  
}

.personal-info {
  font-size: 19px;
  line-height: 30px;
}

.hobby {
  border: 5px outset #9D8DF1;
  background-color: #404040;
  width: 75%;
  display: flex;
  margin-left: auto;
  margin-top: -13%;;
}

#pic-hobby{
  margin-left: 5%;
}

#hobby {
  color: #B8CDF8;
}
table {
  border-collapse: collapse;
  border-radius: 1em;
  background-color: rgba(68, 68, 68, 0.9);
  text-align: center;
  margin-top: 5%;
  border-spacing: 0 15px;
}

th {
  padding-top: 15px;
}

th,td{
  width: 150px;
  text-align: center;
  border: 1px none black;
  padding: 5px;
}

footer,.contact{
  text-align: center;
  display: inline;
}

#left {
  margin: 25px 0;
  justify-content: center;
  width: 500px;
  margin: auto;
  float: left;
  margin-top: -1%;
}

#center {
  margin: 25px 0;
  justify-content: center;
  width: 235px;
  margin-left: 500px;
  }

#right {
  margin: 25px 0;
  justify-content: center;
  width: 500px;
  margin: auto;
  float: right;
  margin-top: -9%;
}

.contact-form {
  text-align: left;
  border-collapse: collapse;
  background-color: rgba(68, 68, 68, 0.9);
  margin-top: 5%;
  font-size: large;
}

label,input,textarea,select {
  float: left;
  margin-bottom: 5px;
}

label {
  width: 180px;
	clear: left;
	padding-right: 20px;
	text-align: left;
}
fieldset {
  padding: 50px;
}
.cls {
  clear: none;
}

.buttonCenter{
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #555555;
  color: white;
}
input[type=submit]{
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.error {
  border-color: red;
}